NODE_ENV={{ vault_node_env }}
DATABASE_URL={{ vault_database_url }}

URL_DEV={{ vault_url_dev }}
URL_PROD={{ vault_url_prod }}

NEXT_PUBLIC_API_URL={{ vault_next_public_api_url }}
NEXT_PUBLIC_KAHIER_ZONE_ID={{ vault_next_public_kahier_zone_id }}

KAHIER_API_BASE={{ vault_kahier_api_base }}
KAHIER_API_KEY={{ vault_kahier_api_key }}

AWS_REGION={{ vault_aws_region }}
AWS_ACCESS_KEY_ID={{ vault_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ vault_aws_secret_access_key }}
AWS_S3_BUCKET_NAME={{ vault_aws_s3_bucket_name }}
